<div class="chosen-pizza">
    <div class="pizza-info">
        <% if(size == 'big_size') { %>
        <div class="chosen-pizza-name"><%= pizza.title %> (Велика) </div>
        <% } else {%>
        <div class="chosen-pizza-name"><%= pizza.title %> (Мала) </div>
        <% } %>
        <div class="icons">
            <img src="<%= pizza.icon_size %>">
            <span class="badge-size"><%= pizza[size].size %></span>
            <img src="<%= pizza.icon_weight %>">
            <span class="badge-weight"><%= pizza[size].weight %></span>
        </div>
        <div class="buttons-toolbar">
            <span class="badge-price-of-pizza"><%=  pizza[size].price*quantity %><%= pizza[size].price_currency %></span>
            <span class="for-order-page" id="order-page">
                <span class="badge-name-of-pizza">піц:</span>
            </span>
            <span class="buttons-labels">
                <span class="badge-number-of-pizzas" id="2" style="padding-left: 1px"><%= quantity %></span>
            </span>
        </div>
        <div class="pizza-image">
            <img src="<%= pizza.icon_trans %>">
        </div>
    </div>

</div>